.walkthrough-content {
  float: left;
  width:60%;
}

.walkthrough-menu {
  float: right;
  width:30%;
  border-left: 1px solid #E1E1E1;
}

.walkthrough-menu ul li {
  list-style:none;
  background-image:none;
  background-repeat:none;
  background-position:0;
  padding: 10px 20px;
}

.walkthrough-menu ul li:hover {
  background-color: #E1E1E1;
}

.walkthrough-menu ul a {
  text-decoration: none;
}
.walkthrough-content form .row {
  margin-bottom: 10px;
}

.blobby-elem-male {
  background-image: url('/images/list/male.png');
  background-origin: 0 0;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.blobby-elem-female {
  background-image: url('/images/list/female.png');
  background-origin: 0 0;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.blobby-elem-beyond {
  background-image: url('/images/list/beyond.png');
  background-origin: 0 0;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}
